.cuadrado {
  max-width:  50px;
  height:     50px;
  border: 1px solid black;
  background-color: white;
}
.cuadradoDrag {
  max-width:  50px;
  height:     50px;
  border: 1px solid black;
}

.cuadradoSeleccionado {
  max-width:  50px;
  height:     50px;
  border: 1px solid white;
}

.prohibido { 
  background-color: black;
}

.borrar { 
  background-color: white;
}

.inicio {
  background-color: green;
}

.fin {
  background-color: red;
}

.recorrido {
  background-color: lightblue;
}

.abierta {
  background-color: orange;
}

.final {
  background-color: purple;
}