.bigh1 {
  font-size: 10em;
}

.bigp {
  font-size: 1.3em;
}

.prohibido { 
  background-color: black;
}

.borrar { 
  background-color: white;
}

.inicio {
  background-color: green;
}

.fin {
  background-color: red;
}

.recorrido {
  background-color: lightblue;
}

.abierta {
  background-color: rgb(255, 195, 85);
}

.final {
  background-color: purple;
}

.penalizacion {
  background-color: rgb(107, 103, 107);
}

.parada {
  background-color: rgb(235, 119, 42);
}

.contenedor {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.justificado {
  text-align: justify;
  text-justify: inter-word;
}

.paynesgray {
  background-color: #555B6E
}
.cambridgeblue {
  background-color: #89B0AE;
}
.mintgreen {
  background-color: #BEE3DB;
}
.seasalt {
  background-color: #FAF9F9;
}
.apricot {
  background-color: #FFD6BA;
}
body::-webkit-scrollbar {
  display: none;
}

:root {
  --colorEnUso: pink;
}

@keyframes parpadeo {
  0% {
    background-color: black;
  }
  50% {
    background-color: var(--colorEnUso);
  }
  100% {
    background-color: black;
  }
}

.parpadear {
  animation: parpadeo 1s infinite; /* Animación de parpadeo infinito durante 2 segundos */
}

.cara-frontal,
.cara-trasera {
  /* width: 100%; */
  /* height: 100%; */
  /* position: absolute; */
    backface-visibility: hidden;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.tarjeta {
  /* perspective: 1000px; */
  transform-style: preserve-3d;
  transition: transform 1s;
}

.cara-trasera {
  transform: rotateY(180deg);
  
}

.scrollableDiv{
  overflow-y: scroll;
}
.tarjetahover {
  transform: rotateY(180deg);
}


/* El switch */
.checkbox-wrapper-2 .ikxBAC {
  appearance: none;
  background-color: #dfe1e4;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  position: relative;
  width: 30px;
}

.checkbox-wrapper-2 .ikxBAC::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
  transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.checkbox-wrapper-2 input[type=checkbox] {
  cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
  background-color: #c9cbcd;
  transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
  background-color: #6e79d6;
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
  background-color: #fff;
  left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
  outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
  background-color: #535db3;
}


