body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.fondoPerro {
  background-image: url("../images/perro.jfif");
  background-repeat: no-repeat;
  background-position: center;
  
}
